<form class="todo-list" action="/todos/create" method="post">
    <div class="mb-3">
        <label class="form-label">할일</label>
        <input type="text" class="form-control" name="title">
        <!-- name = DTO -->
    </div>
<!--    <div class="mb-3">-->
<!--        <label class="form-label">상세</label>-->
<!--        <textarea class="form-control" cols="30" rows="3" name="content"></textarea>-->
<!--        &lt;!&ndash; name = DTO &ndash;&gt;-->
<!--    </div>-->
    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <button type="button" class="btn btn-outline-dark" id="comment-create-btn">확인</button>
    </div>
    <input class="todo__state" type="hidden" value="false" name="completed" />
</form>

<script>
{
    const commentBtn = document.querySelector("#comment-create-btn");

    commentBtn.addEventListener("click", () => {
        // 새 할일 객체 생성
        const comment = {


        };


    }); //addEventListener


}
</script>