<form class="todo-list" action="/todos/create" method="post">
    <div class="mb-3">
        <label class="form-label">할 일</label>
        <input type="text" class="form-control" name="title" id="new-comment-title">
        <!-- name = DTO -->
    </div>

    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <button type="button" class="btn btn-outline-dark" id="comment-create-btn">확인</button>
    </div>
    <input class="todo__state" type="hidden" value="false" name="completed" id="new-comment-completed"/>
</form>
